# Kollokasjoner med bruk av distanse

In [70]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
#mu.update('collocations', overwrite=True)
from collocations import dist_coll_urn, urn_coll
import pandas as pd
mu.css()

Et korpus med bøker inneholdende ordet *kaffe*, og et med verbet *spiser*

In [2]:
corpus = nb.book_corpus(words=['kaffe'], limit=100)
corpus.head()

             urn            author               title  year
0  2010112308057     Rendell, Ruth      Forbudt område  1991
1  2008041100011  Ihlen, Christian        Forbandelsen  1926
2  2009121404170      Zondag, Anne  Norske drikkevaner  2001
3  2011021520012     Brown, Carter  Døden spiller jazz  1959
4  2012061106012       Sundby, Dag         Steinbordet  1974

#

In [3]:
corpus0 = nb.book_corpus(words=['spiser'], limit=100)
corpus0.head()

,urn,author,title,year
0,2008022704069,"Løken, Aud",Språkstimulering med flerspråklige barn,1995
1,2007042301069,"Hauge, Eiliv Odde",Lady Arbuthnott og hennes menn,1957
2,2007112700093,"Fortune, J. J.",Stephen Lane og Isødets fare,1993
3,2009061000035,"Luxemburg, Rosa",Skrifter i utvalg,1973
4,2013080508210,"Fjellheim, Arne",Fauna i endring,2010

Bygger kollokasjonen med kommandoen `dist_coll_urn`

In [4]:
kaffe = dist_coll_urn('kaffe', nb.pure_urn(corpus), before=10, after=0)

Resultatet er en dataramme med tre kolonner, frekvens - `freq`, gjennomsnittlig distanse - `dist`, og korrigert distanse - `score`

In [5]:
kaffe.sort_values(by='freq', ascending=False)[:20]

        freq  dist  score
.      288.0 -6.27  -6.27
,      233.0 -5.73  -5.73
og     226.0 -4.33  -4.34
en     150.0 -4.36  -4.37
med    106.0 -3.88  -3.90
på      95.0 -5.46  -5.46
kopp    91.0 -1.44  -1.48
i       90.0 -6.55  -6.54
til     84.0 -5.81  -5.81
å       63.0 -5.39  -5.39
han     61.0 -5.70  -5.70
det     57.0 -5.93  -5.92
seg     53.0 -5.37  -5.37
drakk   44.0 -1.56  -1.65
de      43.0 -6.14  -6.13
ikke    41.0 -5.57  -5.57
hadde   41.0 -6.24  -6.22
-       41.0 -5.10  -5.11
Jeg     38.0 -5.88  -5.87
var     37.0 -6.48  -6.45

Her sortert på score, fra nærmest og utover. Negative tall indikerer venstre kontekst.

In [6]:
kaffe.sort_values(by='score', ascending=False)[:20]

         freq  dist  score
svart    14.0 -1.17  -1.48
kopp     91.0 -1.44  -1.48
drakk    44.0 -1.56  -1.65
lage      8.0 -1.28  -1.81
kopper    8.0 -1.29  -1.82
varm     14.0 -1.67  -1.94
drikker  13.0 -1.82  -2.10
nykokt    4.0 -1.00  -2.12
koke      9.0 -1.78  -2.19
kokt      6.0 -1.60  -2.25
drukket  11.0 -2.00  -2.32
både      5.0 -1.56  -2.35
kokte    12.0 -2.08  -2.37
drikke   26.0 -2.28  -2.40
trakte    3.0 -1.00  -2.50
kanne     3.0 -1.00  -2.50
kop       3.0 -1.00  -2.50
traktet   3.0 -1.00  -2.50
laget    14.0 -2.43  -2.65
rykende   3.0 -1.33  -2.72

Kan ta en kjapp sjekk med pmi-beregnet kollokasjon

In [7]:
tot = nb.frame(nb.totals(50000), 'tot')

In [8]:
# eksponenten vekter frekvensen mer - eksperimenter litt

kaffe['pmi'] = kaffe['freq']**1.8/tot['tot']

In [9]:
kaffe.sort_values(by='pmi', ascending=False).head(20)

          freq  dist  score       pmi
kopp      91.0 -1.44  -1.48  0.011161
drakk     44.0 -1.56  -1.65  0.001520
skjenket  15.0 -3.08  -3.24  0.000712
kokte     12.0 -2.08  -2.37  0.000427
drikke    26.0 -2.28  -2.40  0.000422
krus       6.0 -2.60  -3.08  0.000393
lunken     4.0 -2.50  -3.25  0.000337
drukket   11.0 -2.00  -2.32  0.000323
bestilte   8.0 -3.14  -3.44  0.000314
syltetøy   5.0 -4.20  -4.46  0.000312
vafler     3.0 -3.75  -4.33  0.000303
drikker   13.0 -1.82  -2.10  0.000287
kop        3.0 -1.00  -2.50  0.000277
kopper     8.0 -1.29  -1.82  0.000270
serverte   5.0 -4.00  -4.30  0.000256
bød       10.0 -3.83  -4.00  0.000253
koka       3.0 -2.00  -3.17  0.000248
koke       9.0 -1.78  -2.19  0.000237
servert    7.0 -2.40  -2.84  0.000216
helte      6.0 -4.83  -4.94  0.000215

In [10]:
spise = dist_coll_urn('spiser', nb.pure_urn(corpus0), before=0, after=20)

In [11]:
spise.sort_values(by='freq', ascending=False)[:10]

      freq   dist  score
.    410.0  10.61  10.61
,    317.0   9.58   9.58
og   228.0   8.61   8.62
i    128.0  11.01  11.01
det   97.0  11.54  11.53
er    97.0  11.58  11.57
som   86.0  10.64  10.64
på    83.0  11.05  11.04
av    76.0  10.30  10.30
en    76.0  11.91  11.89

In [12]:
spise.sort_values(by='score', ascending=True).head(20)

            freq  dist  score
middag       9.0  1.56   2.55
lunsj        8.0  1.57   2.69
frokost     10.0  2.50   3.30
tre          6.0  3.33   4.52
opp         20.0  4.25   4.56
frukt        6.0  3.42   4.60
lite         4.0  2.75   4.69
mat         13.0  4.28   4.76
sover        3.0  2.00   4.83
små          8.0  4.21   5.00
mus          3.0  2.33   5.05
mitt         3.0  2.33   5.05
meget        9.0  4.46   5.13
fluer        3.0  3.00   5.50
mest         3.0  3.00   5.50
alt          8.0  4.78   5.50
østers       2.0  1.00   5.75
smørbrødet   2.0  1.00   5.75
aller        2.0  1.00   5.75
asparges     2.0  1.00   5.75

In [13]:
spise['pmi'] = spise['freq']**1/tot['tot']

In [14]:
spise.sort_values(by='pmi', ascending=False).head(20)

               freq   dist  score       pmi
krepsdyr        3.0   7.00   8.17  0.000080
muslinger       2.0   5.00   7.75  0.000076
asparges        2.0   1.00   5.75  0.000075
opium           2.0  12.00  11.25  0.000060
østers          2.0   1.00   5.75  0.000054
blekksprut      1.0  10.00  10.50  0.000046
fordøyelsen     1.0   9.00  10.50  0.000046
Clarence        1.0   6.00  10.50  0.000046
innløp          1.0  11.00  10.50  0.000045
drikker        16.0   9.95   9.98  0.000045
sammenbruddet   1.0  11.00  10.50  0.000045
bestemors       1.0  18.00  10.50  0.000045
sulte           1.0   8.00  10.50  0.000045
pynter          1.0   8.00  10.50  0.000045
forlengede      1.0  18.00  10.50  0.000045
Blås            1.0  18.00  10.50  0.000044
Esther          3.0   7.00   8.17  0.000044
übrutt          1.0  17.00  10.50  0.000043
blæs            1.0  19.00  10.50  0.000043
alba            1.0  12.00  10.50  0.000043

# Bruk ordbanken til å gruppere ordene i kollokasjonene

Det er api-funksjoner for ordbanken (bokmål for øyeblikket)

In [79]:
nb.word_form('spiser')

['subst mask appell fl ub normert',
 'verb pres <intrans1> <trans1> <trans11/opp> <trans11/på> <predik6> <refl9/innpå> <trans4> <part3/i> normert']

Vi lager en heuristikk for å velge form, med en hjelpekommando `klassifiser`, der resultatene rangeres som *det*, *verb*, *subst*, *adj*, ellers ta første forslag i listen - det her gjelder bare for POS.

In [98]:
def velg_form(word):
    former = list({x.split()[0] for x in nb.word_form(word)})
    if 'det' in former:
        res = 'det'
    elif 'pron' in former:
        res = 'pron'
    elif 'verb' in former:
        res = 'verb'
    elif 'subst' in former:
        res = 'subst'
    elif 'adj' in former:
        res = 'adj'
    else:
        try:
            res = former[0]
        except:
            res = 'ukjent'
    return res

def klassifikasjon(df, num = 60, up=True):
    gruppering = list(map(lambda w: (w, velg_form(w)), df.sort_values(by='score', ascending=up).head(num).index))
    grupper = dict(gruppering)
    grupperinger = {cat:[w for w in grupper if grupper[w] == cat] for cat in grupper.values()}
    return nb.frame(grupperinger).transpose().fillna('')

In [100]:
klassifikasjon(spise, num=80)

,subst,verb,det,adj,adv,prep,pron,ukjent,fork
0,middag,lunsj,tre,små,aller,ute,hva,de.,off
1,frokost,opp,mitt,mest,aldri,omkring,,seipanetter,
2,mus,frukt,alt,hovedsakelig,først,ned,,Noen,
3,fluer,lite,din,forskjellig,akkurat,,,45,
4,østers,mat,ett,sikker,nok,,,„,
5,smørbrødet,sover,annet,mer,omtrent,,,Kristian,
6,asparges,meget,eneste,mye,,,,Prøv,
7,sjokolade,liker,alle,,,,,Brekk,
8,toppen,dyr,,,,,,,
9,fanden,brød,,,,,,,
10,rullene,føler,,,,,,,
11,hirse,planter,,,,,,,
12,gjødsel,røyker,,,,,,,
13,kjøtt,godt,,,,,,,
14,kjeksene,dør,,,,,,,
15,bladlus,svarer,,,,,,,
16,grøt,par,,,,,,,
17,fisken,smør,,,,,,,
18,n,plager,,,,,,,
19,kjøttet,trekker,,,,,,,
20,gode,leker,,,,,,,
21,nesten,heller,,,,,,,
22,millioner,,,,,,,,
23,lenger,,,,,,,,

In [102]:
klassifikasjon(kaffe, num=60, up=False)

         verb   ukjent   konj      subst       adj symb      adv det
0       svart   nykokt   både      kanne   rykende   Te  akkurat  to
1        kopp      Mer  enten       koka       mye
2       drakk    stærk            lunken     sterk
3        lage      och            middag       mer
4      kopper  Kaarina               med  dampende
5        varm    kjøbe         sjokolade
6     drikker                          a
7        koke
8        kokt
9     drukket
10      kokte
11     drikke
12     trakte
13        kop
14    traktet
15      laget
16    servert
17      koker
18       krus
19         ha
20     sukker
21   skjenker
22   skjenket
23      slurk
24         te
25       ekte
26         ny
27       litt
28     luktet
29   bestilte
30  spanderer
31        byr
32       lyst
33       vann
34       rakk
35      ville
36     tilbød